<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.name == "index.md" or page.name == "index.html" %}
  <title>{{ site.title }}</title>
  {% else %}
  <title>{{ page.title }} - {{ site.title }}</title>
  {% endif %}
  {% seo title=false %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/reset-min.css" integrity="sha256-t2ATOGCtAIZNnzER679jwcFcKYfLlw01gli6F6oszk8=" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
  <link rel="shortcut icon" href="{{ site.url }}/assets/img/{{ site.favicon }}">
  {% feed_meta %}
  {% include analytics.html %}
</head>
