// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  color: #fff;
  color: var(--bg-color);
  background-color: #171717;
  background-color: var(--primary-color);
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $root-font-family;

  @include properties($body-md);

  font-kerning: normal;
  -moz-font-feature-settings: "calt" 1, "kern" 1, "liga" 1;
  font-feature-settings: "calt" 1, "kern" 1, "liga" 1;

  @media (min-width: $small-breakpoint) {
    @include properties($body-lg);
  }
}

@supports (font-variation-settings: normal) {
  html {
    font-family: $root-font-family-var;
  }
}

body {
  color: rgba(var(--rgb-primary), 0.90);
  background-color: var(--bg-color);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgb(var(--rgb-primary), 0.2);
  outline: inherit;
  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    color: rgb(var(--rgb-primary), 0.75);
  }

  strong {
    color: inherit;
  }
}

ul {
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid rgba(var(--rgb-primary), 0.3);
  border-collapse: collapse;
}

td,
th {
  padding: 0.25rem 0.5rem;
  border: 1px solid rgba(var(--rgb-primary), 0.1);
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: rgba(var(--rgb-primary), 0.045);
}
