.posts-feed, .ais-Hits-list {
  margin-bottom: 0.5rem;

  .post-node, .ais-Hits-item {
    border-bottom: 1px solid rgba(var(--rgb-primary), 0.075);

    .post-link {
      border-bottom: 0;
      padding: 1rem 0;

      .post-title {
        @include properties($body-sm);

        @media (min-width: $medium-breakpoint) {
          @include properties($body-md);
        }
      }

      .post-date {
        @include properties($body-xs);
        opacity: 0.75;
      }
    }
  }
}

.next-post {
  @include properties($body-sm);
  font-weight: 500 !important;
  text-transform: capitalize;
  border-bottom: 0;
}

.ais-SearchBox{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.ais-SearchBox-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  padding-left: 40px;
  padding-right: 136px;
  background-color: rgba(var(--rgb-primary), 0.1);
  color: inherit;
  border-radius: 4px;
  align-content: center;
}

.ais-SearchBox-input {
  @include properties($body-md);
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: rgba(var(--rgb-primary), 0.7);
  outline: 0;
  border: 0;
}

.ais-SearchBox-reset {
  position: absolute;
  right: 10px;
  margin-right: 120px;
  color: rgba(var(--rgb-primary), 0.7);
  opacity: .8;
  fill: currentColor;
}

.ais-SearchBox-submit{
  display: none;
}

.ais-Container{
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ais-SearchIcon{
  z-index: 10;
  width: 12px;
  height: 12px;
  left: 0;
  position: absolute;
  margin-left: 16px;
}

.ais-Searsh-svg{
  fill: currentColor;
  display: block;
}

.ais-PoweredBy{
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.ais-PoweredBy-link{
  display: block;
  border-bottom: none;
}

.ais-PoweredBy-logo {
  display: block;
  color: rgba(var(--rgb-primary), 0.7);
  width: 96px !important;

  path:first-child, path:last-child {
    fill: currentColor !important;
  }
}

.ais-Pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ais-Pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-top: -2px;
  margin-bottom: -2px;
}

.ais-Pagination-item {
  display: block;
  margin: 2px;
  background: rgba(var(--rgb-primary), 0.06);
  color: rgba(var(--rgb-primary), 0.6);
  padding: 2px;
  border-radius: 5px;
}

.ais-Pagination-item--selected {
  background: rgba(var(--rgb-primary), 0.1);
  color: rgba(var(--rgb-primary), 0.6);
  font-weight: 600;
}

.ais-Pagination-item--disabled {
  opacity: 0.5;
}

.ais-Pagination-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  color: inherit;
  width: 32px;
  height: 32px;
  text-decoration: none;
  border: 0;
  font-size: 12px;
}

.ais-Hits.ais-Hits--empty {
  padding: 1rem;
}
