.posts-feed {
  margin-bottom: 0.5rem;

  .post-node {
    font-weight: 400;
    border-bottom: 1px solid rgba(var(--rgb-primary), 0.075);

    // &:first-child{
    //   border-top: 1px solid rgba(var(--rgb-primary), 0.1);
    // }

    .post-link {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      border-bottom: 0;
      padding: 1rem 0;

      @media (min-width: $medium-breakpoint) {
        flex-direction: row !important;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }

      .post-title {
        @include properties($body-md);

        @media (min-width: $medium-breakpoint) {
          @include properties($body-lg);
        }
      }

      .post-date {
        @include properties($body-xs);
        margin-left: 0;
        opacity: 0.75;

        @media (min-width: $medium-breakpoint) {
          @include properties($body-sm);
          margin-left: 1rem;
        }
      }
    }
  }
}

.next-post {
  @include properties($body-sm);
  font-size: 65% !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  border-bottom: 0;
}