@include media-breakpoint-down(sm) {
  #menu {
    left: -150px;
    position: fixed;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .3s ease-in;
      -moz-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
  }
  body.open #menu {
    left: 0;
  }
  /* MAIN PAGE */
  .page-wrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }

  body.open .page-wrap {
    margin-left:  150px;
  }
}

#menu-toggle {
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}


#light,
#dark {
  display: block;
  cursor: pointer;
  border-bottom: none;

  svg {
    width: 1.333rem;
    height: 1.333rem;
  }

  &:hover {
    color: inherit;
  }
}

#light {
  display: none;
}

[data-theme="dark"] {
  #light {
    display: block;
  }

  #dark {
    display: none;
  }
}
