.page-header {
  display: flex;
  padding: 2rem 0;

  @include media-breakpoint-down(md) {
    margin-bottom: 0rem;
  }
}
.nav-menu {
  ul {
    margin: 0;
    li {
      display: inline;
      list-style: none;
      margin-right: 0.65rem;

      a{
        border-bottom: 0;
        font-family: $code-font-family;
        font-weight: 400;
        font-size: 0.85rem;
        text-transform: lowercase;

      }

      &:first-child{
        &::before {
          content: "~/";
          font-family: $code-font-family;
          font-weight: 600;
          font-size: 0.85rem;
        }
      }
    }
  }
}

#light,
#dark {
  display: block;
  cursor: pointer;
  border-bottom: none;
  margin-top: 0.1em;

  svg {
    width: 1.333rem;
    height: 1.333rem;
  }

  &:hover {
    color: inherit;
  }
}

#light {
  display: none;
}

[data-theme="dark"] {
  #light {
    display: block;
  }

  #dark {
    display: none;
  }
}
