// Layout
//
// Styles for managing the structural hierarchy of the site.

.content {
  width: 100%;

  @media (min-width: $medium-breakpoint) {
    width: 90%;
  }

  @media (min-width: $large-breakpoint) {
    width: 70%;
  }
}

.container {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 0;

  @media (min-width: $small-breakpoint) {
    padding: 0;
    max-width: 70%;
    margin: auto;

    &.fluid {
      max-width: 75% !important;
    }
  }

  @media (min-width: $large-breakpoint) {
    &.fluid {
      max-width: 70% !important;
    }
  }
}
