// Layout
//
// Styles for managing the structural hierarchy of the site.

.content {
  width: 100%;

  @media (min-width: $large-breakpoint) {
    width: 70%;
  }
}

.container {
  max-width: 100%;
  padding: 6rem 0;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 0;

  @media (min-width: $medium-breakpoint) {
    padding: 9rem 0;
    max-width: 70%;
    margin: auto;

    &.fluid {
      max-width: 80% !important;
    }
  }
}

#light,
#dark {
  display: block;
  position: absolute;
  cursor: pointer;
  border-bottom: none;
  margin: 2rem 1rem;
  right: 0;

  svg {
    width: 1.333rem;
    height: 1.333rem;
  }

  &:hover {
    color: inherit;
  }

  @media (min-width: $medium-breakpoint) {
    margin: 2rem;
  }
}

#light {
  display: none;
}

[data-theme="dark"] {
  #light {
    display: block;
  }

  #dark {
    display: none;
  }
}
