.nav-menu {
  position: absolute;
  margin: 2rem 1rem;

  @media (min-width: $medium-breakpoint) {
    margin: 2rem;
  }

  ul {
    li {
      display: inline;
      list-style: none;
      padding: 0.45rem;

      a{
        font-family: $code-font-family;
        font-weight: 450;
        font-size: 0.85rem;
        text-transform: lowercase;

      }

      &:first-child::before {
        content: "~/";
      }
    }
  }
}
