.container--tabs {
  .nav-tabs {
    margin-bottom: 0;
    list-style-type: none;
    border-bottom: 1px solid rgba(var(--rgb-primary),0.1);

    > li {
      margin-bottom: -1px;

      > a {
        float: left;
        padding: 0.75rem;
        min-width: 125px;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom-color: rgba(var(--rgb-primary),0.2);
        }
      }

      &.active {
        > a,
        > a:hover,
        > a:focus {
          cursor: default;
          border-bottom: 1px solid rgba(var(--rgb-primary),0.5);
        }
      }
    }
  }

  .tab-content {
    width: 100%;

    > .tab-pane {
      display: none;

      &.active {
        display: block;
      }
    }

    > .active {
      display: block;
    }
  }

}
