// dark
$dark-4: #bcbcbc;
$dark-3: #878787;
$dark-2: #686868;
$dark-1: #3b3b3b;
$dark-0: #2b2b2b;

// Root
$root-font-family: 'Inter UI', system-ui, sans-serif;
$root-font-family-var: 'Inter UI var alt', system-ui, sans-serif;
$root-font-size: 16px;
$root-letter-spacing: -0.005em;
$root-line-height: 22px;

$body-color: $dark-4;
$body-bg: #fff;
$body-bg-alter: #f7fbfb;


// Links
$link-color: $dark-4;


// h* fonts
$h-font: $root-font-family;


// Lists
$li-color: lighten($body-color, 5%);
$li-link-color: lighten($dark-4, 10%);
$li-link-color-border: $dark-4;
$border-color: #e5e5e5;


// Responsive
$large-breakpoint: 38em;
$large-font-size: 16px;
$large-font-letter-spacing: -0.005em;
$large-font-line-height: 22px;

// Code
$code-font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$code-color: #bf616a;
