---
layout: page
---
<div class="ais-Container">
  <div class="ais-SearchIcon">
    <svg class="ais-Searsh-svg" viewbox="0 0 13.33 13.33" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.14 12.19l-2.46-2.45a6 6 0 1 0-.94.94l2.45 2.46a.7.7 0 0 0 .48.19.66.66 0 0 0 .47-.19.68.68 0 0 0 0-.95zM1.33 6a4.67 4.67 0 1 1 8 3.29 4.67 4.67 0 0 1-8-3.29z"></path>
    </svg>
  </div>
  <div class="ais-SearchBox" id="searchbox"></div>
  <div class="ais-PoweredBy"></div>
</div>
<div class="container--tabs mt-3">
<ul class="nav-tabs">
  <li class="active">
    <a href="#posts">Posts <small id="stats-mainindex"></small></a>
  </li>
  <li class="">
    <a href="#notes">Notes <small id="stats-subindex"></small></a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="posts">
    <ul class="posts-feed unstyle-list" id="hits">
      {% for post in site.posts  limit: 8 %}
        <li class="post-node">
          <a class="post-link row {% unless post.cover %}py-3{% endunless %}" href="{{ post.url | relative_url }}">
            <div class="col-12 col-sm-4 col-md-3 col-xl-2">
              {%- if post.cover -%}
                <img class="w-100 mb-0.5 mb-sm-0" src="{{ site.url }}{{ post.cover }}" alt="{{ post.title }}">
              {%- endif -%}
            </div>
            <div class="col-12 col-sm-8 col-md-9 col-xl-10 pl-md-0">
              <div class="row">
                <div class="post-title col-12 col-lg-9 col-xl-10">
                  <span class="fw-600">{{ post.title }}</span>
                  {%- if post.cover -%}
                    <p class="body-md mt-1">
                      {{ post.excerpt | strip_html }}
                    </p>
                  {%- endif -%}
                </div>
                <time class="post-date col-12 col-lg-3 col-xl-2 text-lg-right">{{ post.date | date: "%b %d, %Y" }}</time>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
    <div id="pagination"></div>
  </div>
  <div class="tab-pane" id="notes">
    <ul id="hits-second"></ul>
    <div id="pagination-second"></div>
  </div>
</div>
</div>

{% include algolia-multi-index.html %}
