---
layout: compress
---
<!DOCTYPE html>
<html lang="en" data-theme="light">
  {% include head.html %}
  <body>
    <div class="container">
    <button id="menu-toggle" class="btn">
      {%- include icons.html icon="menu" class="menu" size=24 -%}
      {%- include icons.html icon="close" class="close" size=24 -%}
    </button>
      <div class="row">
        <aside  id="menu" role="navigation" class="col-6 col-md-2 d-flex flex-column px-0 justify-content-around" style="height: 100vh;">
          {% include menu.html %}
          {% include dark-mode.html %}
        </aside>
        {{ content }}
      </div>
    </div>

    {% if dark_mode %}
      <script src="{{ site.url }}/assets/js/main.js" charset="utf-8"></script>
    {% endif %}
  </body>
  {% include footer.html %}
</html>
