---
layout: compress
---
<!DOCTYPE html>
<html lang="en" data-theme="light">
  {% include head.html %}
  <body>
    <header class="page-header">
      {% include menu.html %}
      {% include dark-mode.html %}
    </header>
    <div class="content">
      <div class="container {% if page.fluid or layout.fluid %}fluid{% endif %}">
        {{ content }}
      </div>
    </div>

    {% if dark_mode %}
      <script src="{{ site.url }}/assets/js/main.js" charset="utf-8"></script>
    {% endif %}
  </body>
</html>
