---
layout: compress
---
<!DOCTYPE html>
<html lang="en" data-theme="light">
  {% include head.html %}
  <body>
    <div class="container">
      <header class="page-header justify-content-between mt-sm-0 mt-lg-4 mb-n3 mb-md-0">
        {% include menu.html %}
        {% include dark-mode.html %}
      </header>
    </div>
    {{ content }}

    {% if dark_mode %}
      <script src="{{ site.url }}/assets/js/main.js" charset="utf-8"></script>
    {% endif %}
  </body>
  {% include footer.html %}
</html>
