---
layout: default
fluid: true
---
<div class="col-12 col-md-10 col-lg-8 col-xl-6 pt-4 pt-lg-5 page-wrap">
  <article class="post">
    <header class="post-header mb-3">
      <h1 class="mb-0">{{ page.title }}</h1>
      <time class="body-sm" datetime="{{ page.date | date: '%Y-%m-%d' }}">
        <strong>{{ page.date | date: "%B %d, %Y"}}</strong>
      </time>
      {%- if page.cover -%}
        {%- include image.html src=page.cover legend=page.legend class="mt-md-3 mb-md-2 mt-2" -%}
      {%- endif -%}
    </header>
    <section>
      {{ content }}
    </section>
  </article>
</div>
